.about_wrap{
    width: 1200px;
    height: 1200px;
}


.about-wrapper{
    margin-top: 100px;
}

.about-wrapper img {
    width: 667px;
    /* height: 400px; */
    
}

.about{
    width: 400px;
    float: right;
    text-align: left;
    height: 300px;
    padding-top: 160px;
    margin-left: 133px;
}

.fashion{
    float: left;
    width: 400px;
    height: 300px;

    /* padding-top: 160px; */
    margin-left: 133px;
    margin-top: 120px;
    

}

.about-wrapper h2 {
    color:rgb(206, 117, 7);
    text-align: left;
    font-size: 48px;
    margin-bottom: 15px;
    margin-right: 60px;
}

.about-wrapper p {
    font-size: 16px;
    letter-spacing: 1px;
    margin-right: 100px;
}