.from_group {
    width: 800px;
    display: flex;
    margin: 20px auto;
    text-align: right;
}


.from_group textarea {
flex: 1;
height: 130px;
resize: none;
border: 1px solid #999;
}

.from_group label {
    color: #505050;
    font-size: 16px;
    font-weight: 300;
    margin: 0 25px 0 0px;
    width: 64px;
    line-height: 36px;
}

input[type="text"] {
    flex: 1;
    height: 30px;
    border: 1px solid #999;
}

input[type="email"] {
    flex: 1;
    height: 30px;
    margin: 0 0px 0px 0;
    border: 1px solid #999;
}

.contact_us_wrap {
    width: 1000px;
    margin: 30px auto 75px;
}

.divider {
    padding-top: 100px;
    max-width:1200px;
    background-size: contain;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}


.from_btn button {
    
    color: white;
    width: 20%;
    margin: 0 auto;
    background-color: black;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 300;
    border: none;
    margin-bottom: 24px;
}
