*body{
    box-sizing: border-box;
}
/* banner */




.banner_top{
  background-image: url(../img/banner/03_accessories.jpg);
    /* height: 800px; */
    max-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    filter:brightness(80%);

}

.banner_top img{

  display: block;
  object-fit: cover;
  margin: 0 auto;
}

.banner_txt{
  text-align: left;
  padding-left: 100px;
  padding-top: 200px;
  padding-bottom: 200px;
  display: block;
  width: 500px;
  

}


.banner_txt h1{
 
    font-family: Verdana;
    font-size: 36px;
    color: white;
    margin-bottom: 30px;
    text-align: left;
    font-weight: 600;
    }

.banner_txt p{
    font-weight: 200;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
    text-align: left;
    }


  .banner_txt a{
        background-color: darkorange;
        color: white;
        text-decoration: none;
        display: block;
        width: 150px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 12px;
        

    }


  .banner_txt a:hover{
      color:#fff;
      background-color: black;

    }

    .indextitle h1{
      
      padding-top: 40px;
      font-size: 26px;
      font-family:monospace;

      
    }





/* middle */

    

    .container{
       max-width: 100%;
        width: 1200px;
        margin: 0 auto;
        display: flex;
        padding-top: 10px;
        padding-bottom: 40px;
      
      }
      .card{
       
        position: relative;
        width: 270px;
        margin: 20px;   
        flex-grow: 1;
        margin-left: 0;
        cursor: pointer;
        
      }

      .ml{
        margin-left: 0;
      }

      .mr{
        margin-right: 0;
      }

      img{
        display: block;
        width: 100%;
        height: auto;
        
      }
      .info{
        /* display: none; */
        opacity: 0;
        position: absolute;
        box-sizing: border-box;
        background-color: rgba(0,0,0,.7);
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 120px;
        -webkit-transition:.1s ease-in;
        
      }

      .info p{
        color: #fff;
        font-size: 32px;
        font-weight: 600;
      }

      .info:hover{
        opacity: 1;  
      }



      .hot_container{
        max-width: 100%;
        width: 1200px;
        margin: 0 auto;
        display: flex;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
        align-content: space-between;
        flex-wrap: wrap;
        /* justify-content: center; */

      }


      .card_img{
        width: 270px;
        /* height: 270px; */
        flex-grow: 1;
        /* height: auto; */
      }

      .hot_item{
        position: relative;
        width: 270px;
        margin: 20px;
        

      }

      a img{
        margin: 0 auto;
      }

      .grow{
        overflow:hidden;
        flex-grow: 1;
        
      }

      .grow a img{
        
        width: 270px;
        height: 270px;
      }

      .box{
       justify-content: center;
       padding-bottom: 20px;
      }
      
      .grow h2{
        color: black;
        font-size: 16px;
        padding-top: 8px;
        line-height: 1.6;
        text-align: center;

      }

      .grow p{
        color: gray;
        font-size: 14px;
        text-align: center;
        
      }

      .grow a{
        text-decoration: none;
      }

      .grow img:hover{
      rotate: 2;
      }








    
    

        


        

        /* button */

        .loadmore{
          text-align: center;
          margin: 25px 0;
          /* padding-top: 40px; */
        }

        .loadmore > a {
          font-family: Arial, Helvetica, sans-serif;
          display: inline-block;
          max-width: 160px;
          /* height: 32px; */
          color: black;
          border: 1px solid black;
          background-color: white;
          text-decoration: none;
          padding: 10px 15px;
          font-weight: bold;
          transition: ease-in .3;


        }

        .loadmore >  :hover{
          color:#fff;
          background-color: black;
          
        }
      
      .hot{
        position: relative;
      }


        .hot img{
          position:absolute;
          /* CSS3淡出淡入效果,1秒 */
          -webkit-transition: opacity 1s ease-in-out;
          -moz-transition: opacity 1s ease-in-out;
          -o-transition: opacity 1s ease-in-out;
          transition: opacity 1s ease-in-out;
        }
        
        
        
        .hot img:nth-of-type(2):hover{
          opacity:0;
        }
/* nav */
        #ham{
          display:none;
        }
        .fa-1x {
          font-size: 1.5rem;
          }
          .navbar-toggler.toggler-example {
          cursor: pointer;
          }
          .dark-text {
          color: black;
          }


        /* RWD */





        @media screen and (min-width: 576px) and (max-width: 767.98px){
          .out{
            max-width: 100%;
            min-width: 100%;
          
            
          }
          .banner_top{
            max-width: 100%;
          }

          .header{
            width: 100%;
          }

        .header_wrap{
          display:none;
        }
          #ham{
            display:block;
          }

          #ham img{
            width: 50%;
          }
        }  

        @media (max-width:575.98px){
          .header_wrap,.banner_top,.container,.hot_containe,.lodemore{
            max-width: 100%;
          }
          .container{
            width: 540px;
            display:flex;
            flex-direction: column;
            align-items: center;
          }

        .card{
          max-width: 520px;
        }

          .banner_top{
            max-width: 100%;
        }
        .banner_txt{
          width: 360px;
        }
        .banner_txt h1{
          font-size: 24px;
          line-height: 1.6;
          
        }
        .banner_txt p .a{
          font-size: 14px;
        }
        .header_wrap{
          display:none;
        }
        #ham{
          display:block;
        }

        #ham img{
          width: 50%;
        }
      }

        