/* breadcrumb */
.breadcrumb{
    padding-top: 100px;
    padding-left: 40px;
    list-style: none;
    background-color: #f5f5f5;
    
    
}
    


.breadcrumb_inner{
    max-width: 1200px;
    color: #000;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 600;
}


.breadcrumb_text > a.label{
    text-decoration: none;
    color: black;
    font-weight: 400;

}


/* bigtitle */
.big_title h1{
padding-top: 24px;
margin: auto 0;
font-weight: normal;
padding-bottom: 20px;
text-align: center;
}

/* aside */
.pd_inner{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: #000000;
    /* display: flex; */
}


.left_filter{
    padding-left: 40px;
    width: 600px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
    
}

.left_filter ul{
    
    margin:20px;
    color: black;
    display: inline;
    
    
    
}

.left_filter li{
    /* padding-top: 20px; */
    margin-bottom: 20px;
    font-size: 14px;
}

.pd_container>.left_filter a{
    text-decoration:none;
    color: black;
}

.left_filter a:hover{
    text-decoration: underline;
    color: darkorange;
}

.container_aside>.filter h3{
font-family:Arial, Helvetica, sans-serif;
font-weight: 700;
font-size: 24px;
letter-spacing: 0;
line-height: 1.3;
color: #000000;
padding: 12px 0;
margin: 0;
}




.pd_container{
    margin:0 auto;
    width: 1200px;
    /* padding-top: 50px; */
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.main{
width: 892px;
}
.main_items{
padding-top: 40px;
margin-right: 6px;
display: flex;
flex-wrap: wrap;

}

.main_items img{
    width:260px;
    height: 260px;
    background-size: cover;
}

.main_items li{
    margin-right: 24px;
    padding-bottom: 24px;
    text-decoration: none;

}

.main_items a{
    text-decoration: none;

}


h3.item_name{
    padding-top: 12px;
}

.main_items img{
display:block; 
margin:auto;
}

.filterinfo{
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
    clear: both;
    /* border: 1px solid red; */
    color: #333;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.myselect{
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    /* overflow: hidden;
    clear: both; */
    right: 0;    
    /* margin-left: auto; */
    /* float: right; */
    /* display: flex; */
}

.sort{
    display: flex;
}


@media screen and (min-width: 576px) and (max-width: 767.98px){
    .pd_container{
      width: 70%;}
    .left_filter{
      width: 70%;
    }
    .hh{
      width:70%
    }
    .about{
      width: 70%;
    }
    
    }  