.banner img{
vertical-align: top;
width: 100%;
height: 600px;
}







.selection .wrapper{
    flex-wrap: nowrap;
}
.wrapper img{
    width: 250px;
    height: 250px;
}

.wrapper ul{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    right: -92px;
    text-align: center;
    color: rgb(206, 117, 7);
    font-family: monospace;
}

.wrapper li{
    margin-right: 130px;
    background-color: #fff;
    padding: 4px;
    box-sizing: border-box;
    margin: 4px;
    flex-wrap: wrap;
    flex-direction: row;
    
   
}

.wrapper .p{
    text-align: center;
}

