 .big_title h1{
    font-weight: 600;
    padding-top: 100px;
    margin: auto 0;
    font-weight: normal;
    } 
    
.out{
    padding-top: 40px;
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
}


.main{
    padding-top: 40px;
    display: flex;
    width: 100%;
    
}


.pic{
    position: relative;
    width: 500px;
    height: 400px;
}

.pic img{
    position: absolute;
    max-width: 100%;
    max-height:100% ;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    /* margin: auto; */
}


.right1{
    padding-top: 100px;
    float: right;
    padding-left: 40px;
    
    /* vertical-align:middle; */
    
}


.right1 h1{
    color: black;
    text-align: left;
    /* text-align: left; */
    line-height: 1.6;
    font-size: 26px;
    padding-bottom: 14px;
    
}

.right1 p{
    line-height: 1.6;
    letter-spacing: 0ch;
    text-align: left;
    font-weight: 200;
}




@media screen and (min-width: 576px) and (max-width: 767.98px){




      .main .item  .pic{
        max-width: 80%;
      }

      .pic{
        /* max-width: 70%; */
        /* width: 50vw; */
        /* max-width: 80%; */
      }

      img{
      max-width:80%
      }
      .right h1 {
       font-size: 20px;
       line-height: 1.6;
      }

      .right{
        flex-direction: column;
        float: none;
        width: 100%;
      }
      


      .header{
          width: 100%;
        }

      .header_wrap{
        display:none;
      }
        #ham{
          display:block;
        }
}

@media (max-width:575.98px){
  .footer {
    max-width: 100%;
  }


  .out{
    max-width: 100%;
  }

  .pic{
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    height: 300px;
   }



  .main{
    float: none;
    max-width: 100%;
    /* width: 375px;  */
    display:flex;
    flex-direction: column;
    
    margin: 0;
    padding: 0;
  }

  .right1{
    
    margin: 0;
    padding: 0;
    text-align: center;
    /* padding-left: 10px; */
    /* text-align: center; */

  }
  .header{
    width: 100%;
  }

.header_wrap{
  display:none;
}
  #ham{
    display:block;
  }

}








