@import url('reset.css');


body{
    font-family: 'Arial, Helvetica, sans-serif' ;
    background-color: rgb(247, 247, 247);
    text-decoration: none;
    box-sizing: border-box;
}

/* font */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
    
    font-weight: 800;
    font-size: 40px;
     /* line-height: 56px;  */
    }

h2{
    font-style: bold;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.6;
    }

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-align: center;
    font-size: 14px;
    line-height: 1.6;
    }
            
p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;    
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: 0.5px;
    }


/* header */

header {
    /* display: flex; */
    background-color: white;
    position: fixed;
    /* top: 0; */
    width: 100%;
    /* max-width: 1400px; */
    z-index: 100;
    /* border-bottom: 1px gray; */
}

.header_wrap {
    max-width: 1200px;
    height: 60px;
    display: flex;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 10px; */
}


/* nav */




nav > ul {
    align-content: center;
    display: flex;
}
    

nav > ul > li > a {
    font-family: monospace;
    margin: 0 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: black;
}

nav > ul > li > a:hover {
font-weight: bold;
text-decoration: underline;
}

/* icon */

.icon{
    list-style: none;
    display: flex;
    
}

.icon i{
    color: black;
    margin-right: 16px;

}




/* right nav */
/* .quickcart {
    font-size: 14px;
    display: flex;
    font-size: 14px;
    color: black;
    text-decoration:none;
    list-style-type: none;
    }
    
    .quickcart a {
        margin: 16px;
        display: flex;
        font-size: 14px;
        color: white;
        text-decoration:none;
        list-style-type: none;
        }


 */



        /* footer */
.footer {
    max-width: 100%;
    width: 1400px;
    background-color:white;
    height: 200px;
    color:white;
    
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    letter-spacing: 1px;
}

.contact{
    padding-right:20px;
}


.footer .text {
font-size: 10px;

}




/* index banner */
.banner img{
vertical-align: top;
width: 100%;
/* height: 600px; */
}





/* footer */

.footer{
    color: white;
}
    /* .footer-txt {
        display: flex;
        width: 70%;
        justify-content: center;
    } */

    /* .contact-bottom {
        margin-top: 2%;
        border-top: 1px solid #d48f6e;
        text-align: center;
        padding-top: 40px;
        display: flex;
        justify-content: center;
    }

 */

    .footer .text {
        text-align: center;
        padding: 20px 0;
    }

    
 








.quickcart {
font-size: 14px;
display: flex;
font-size: 14px;
color: black;
text-decoration:none;
list-style-type: none;
}

.quickcart a {
    margin: 16px;
    display: flex;
    font-size: 14px;
    color: white;
    text-decoration:none;
    list-style-type: none;
    }

    .right_pics {
        margin: 10px;
        width: 33.333%;
        background-color: black;
        text-align: center;
        font-size: 20px;
        color:black;
    }
    
    .right_pics img {
        width: 100%;
        height: 100%;
    
    }


    .logo img{
        width: 60px;
        
    }
    
    .logo{
    padding: 5px;
    background-color: #fff;
    }



    /* nav */
    #ham{
      display:none;
    }
    .fa-1x {
      font-size: 1.5rem;
      }
      .navbar-toggler.toggler-example {
      cursor: pointer;
      }
      .dark-text {
      color: black;
      }




