@import url('reset.css');

body{
    font-family: Arial, '微軟正黑體' ;
    line-height: 1.6;
    background-color: white;
}

header {
    box-shadow: 1px 1px 1px #cccccc;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header_wrap {
    max-width: 1200px;
    height: 70px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.hb {
    display: none;
}

.user {
    display: flex;
    margin-left: 45px;
    margin-right: 75px;
    font-size: 14px;
    color: #505050;
}

nav > ul {
    align-content: center;
    display: flex;
    }

nav > ul > li > a {
    margin: 0 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: #505050;
}

/* footer */
.footer {
    background-color:black;
    height: 200px;
    color:white;
    
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    letter-spacing: 1px;
}

.contact{
    padding-right:20px;
}


.footer .text {
font-size: 14px;

}




/* index banner */
.banner img{
vertical-align: top;
width: 100%;
height: 600px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    padding-top: 40px;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    }

h2{
font-style: bold;
font-weight: 600;
font-size: 36px;
line-height: 42px;
}




/* 最新消息 */
.new{
    max-width: calc(1200px - 60px);
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    
    }

 .new_item {
        margin: 10px;
        width: 50%;
        background-color:white;
        text-align: center;
        font-size: 20px;
        
        
    }

    .new_item img {
        width: 100%;
        position: relative;
        /* color:black; */
       


    }

    

    .new_item h3 {
        position: relative;
        top: -233px;
        font-size: 32px;
        text-align: center;
        margin: 0;
        color:white;
        font-weight: 800;
    }
/* 熱門商品 */
.hot {
    max-width: calc(1200px - 60px);
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    
    }
.hot_item{
        display: inline;
        text-align: center;
        width: 400px;
        height: 300px;
        margin: 10px;
        
    
    }

    .hot_item h3{
        font-size: 14px;
        text-align: center;
        margin: 0;
    }
    
    .hot_item p{
        font-family: monospace;
        font-size: 16px;
        color: rgb(206, 117, 7);
        font-weight: 800;
    }
    
    
    .hot_item img {
        width: 100%;
        height: 100%;

    }

    .btn-seemore .btn{
        
        color: rgb(206, 117, 7);
        padding: 13px 20px;
        margin: 10% 0;
        background-color:white;
        font-size: 16px;
        font-weight: 00;
        outline: none;
        border: 1px solid rgb(206, 117, 7);
        position: relative;
        left: 550px;
        top: 24px;
        }

        .btn-seemore{
        
        margin: 0 auto;
       
        }

    
 









    
  
  
    /* footer */
    .footer-txt {
        display: flex;
        width: 70%;
        justify-content: center;
    }

    .contact-bottom {
        margin-top: 2%;
        border-top: 1px solid #d48f6e;
        text-align: center;
        padding-top: 40px;
        display: flex;
        justify-content: center;
    }



    .footer .text {
        text-align: center;
        padding: 20px 0;
    }

    
 
h3{
color: black;
text-align: center;
padding-top: 16px;
font-size: 14px;
}
    







.quickcart {
font-size: 14px;
display: flex;
font-size: 14px;
color: black;
text-decoration:none;
list-style-type: none;
}

.quickcart a {
    margin: 16px;
    display: flex;
    font-size: 14px;
    color: #505050;
    text-decoration:none;
    list-style-type: none;
    }

    .right_pics {
        margin: 10px;
        width: 33.333%;
        background-color: black;
        text-align: center;
        font-size: 20px;
        color:black;
    }
    
    .right_pics img {
        width: 100%;
        height: 100%;
    
    }






